<settings>
    <setting id="annotations" value="true" />
    <setting id="categories" value="true" />
    <setting id="contacts" value="true" />
    <setting id="debug" value="true" />
    <setting id="disco" value="true" />
    <setting id="downloadPath" value="./tmp" />
    <setting id="downloads" value="true" />
    <setting id="explore" value="true" />
    <setting id="favorites" value="true" />
    <setting id="feeds" value="true" />
    <setting id="firstrun" value="1" />
    <setting id="hd_videos" value="2" />
    <setting id="hd_videos_download" value="0" />
    <setting id="liked" value="true" />
    <setting id="list_view" value="0" />
    <setting id="lang_code" value="1" />
    <setting id="live" value="true" />
    <setting id="movies" value="true" />
    <setting id="music" value="true" />
    <setting id="notification_length" value="2" />
    <setting id="perpage" value="6" />
    <setting id="playlists" value="true" />
    <setting id="preferred" value="true" />
    <setting id="recommended" value="true" />
    <setting id="region_id" value="0" />
    <setting id="safe_search" value="1" />
    <setting id="saved_searches" value="3" />
    <setting id="search" value="true" />
    <setting id="shows" value="true" />
    <setting id="subscriptions" value="true" />
    <setting id="timeout" value="3" />
    <setting id="trailers" value="true" />
    <setting id="transcode" value="true" />
    <setting id="uploads" value="true" />
    <setting id="user_password" value="SomeUser" />
    <setting id="username" value="SomePass" />
    <setting id="watch_later" value="true" />
    <setting id="login_cookie" value='&quot;fbm_136482209767138=base_domain=.blip.tv; fbsr_136482209767138=H9ukMvkswUEQg1qR8scRkZjZGQi4IlCv7wAnCdWbhPU.eyJhbGdvcml0aG0iOiJITUFDLVNIQTI1NiIsImNvZGUiOiJBUUREWThJeWxLd1NZTkN0b0pYQWk1ZEczaG11Rk9GbEFXTHBURWlfZXVpd1R4UERXU21iWjZscl9HQTI3aWJBNjJqRC1FOENPWUJlY1lfODc4MVlORnB2YWIzRUVnbnJ1S3VONGI5RjR2YjBmdWtJQ2ZnbHlqYThTOWtKX3hvQWN5dm5URHdqWldEXzNhQ0ZoU3lXQ18yWU5JT2pILUNzNGFOYW5jYjV6Zms5ZVlpRDNZbFpmZVJUNGxVYkVKZWRfWVY1TkFNQmpsQU5CWEdmMFg0RG5KMnBBTHlBa1czRjVoejNXQmZDMlZmb0NMUVEwNlcyYzFEZjgyQUM4ZjdNTlU4dHY4ZjZkYWJleVViVUR6LVc4Y2dJY0dVaTJwRGdfU081MXlKSTdTbDN5SGNSR1Y5NERnTDd2TC1BM3hicTRNMCIsImlzc3VlZF9hdCI6MTM2ODk4MTY1MSwidXNlcl9pZCI6IjUzMjUxMjY1MyJ9; v_session=HC3prmv81hv4ks2dAagr5yg4WBLIPiKlh; &quot;' />
</settings>
